body{
    margin:0;
    background:#1d1d1d;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    text-align:center;
}

h1{
    color:white;
    margin-bottom:25px;
}

canvas{
    width:540px;
    max-width:100%;
    border-radius:8px;
    box-shadow:0 0 25px rgba(0,0,0,.4);
}
.editor{
    width:350px;
    margin:0 auto 30px auto;
    text-align:left;
}

.editor label{
    color:white;
    display:block;
    margin:18px 0 6px;
    font-weight:bold;
}

.editor input{
    width:100%;
    padding:10px;
    font-size:16px;
    margin-bottom:8px;
    box-sizing:border-box;
}
button{

    margin-top:25px;
    padding:15px 35px;

    font-size:18px;
    font-weight:bold;

    border:none;
    border-radius:8px;

    cursor:pointer;

    background:white;
    color:#222;

    transition:.2s;

}

button:hover{

    transform:scale(1.04);

}
