button {
    cursor: url("rawwk-finger-cursor.png") 0 0, pointer !important;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background: transparent;
    color: #dfdfdf;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.editor {
    flex: 1;
    background: #1E3026;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

.preview {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

canvas {
    display: block;
    width: 100%;
    max-width: 540px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
    background: white;
}

h1 {
    margin: 0 0 12px;
}

p {
    margin: 0 0 12px;
    line-height: 1.4;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: .2s;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76,175,80,.2);
}

.trackInput {
    margin-bottom: 6px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: #345440;
    color: white;
}

button:hover {
    background: #89AB91;
}

@media (max-width: 900px) {

    .wrapper {
        flex-direction: column;
        gap: 16px;
        padding: 10px;
    }

    .preview {
        order: -1;
        width: 100%;
    }

    .editor {
        width: 100%;
    }

    canvas {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
}
